<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Troll Market</title>
    <link rel="icon" type="/image/ico" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/authorization.css">
    <link rel="stylesheet" href="../../css/site.css">
    <script src="../../js/jquery-3.6.0.js"></script>
    <script src="../../js/site.js" defer></script>
</head>
<body class="authentication-body">
    <div class="authentication-wrapper">
        <header class="company-logo">
            <h1>
                <span class="bold">Troll Market</span>
            </h1>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
