@{
    ViewData["Title"] = "Home Page";
}
@section breadcrumbs{
    <span>Home Page</span>
}

<div class="text-center">
    <h1>Welcome to Troll Market</h1>
    <p>This is marketplace that you can buy, sell, and own everything.</p>
    <p>You can explore this website with restriction</p>
</div>
