@{
    ViewData["Title"] = "Merchandise Deletion Error";
}

@section breadcrumbs{
    <span>Merchandise Deletion Error</span>
}

<div class="fail-container">
    <p>Sorry, this merchandise cannot be deleted due to being recorded on cart and/or transaction.</p>
    <p>Ask admin for more information.</p>
</div>
<a class="blue-button" asp-action="Index">Back to Merchandise</a>
