@{
    ViewData["Title"] = "Admin Confirmation";
}
@section breadcrumbs{
    <span>Admin Confirmation</span>
}

<div class="grid-container">
    <h2>Congratulation, one admin is added.</h2>
</div>
<a class="blue-button" asp-action="Index">Back to Admin Registration</a>