@{
    ViewData["Title"] = "Sorry";
}

@section breadcrumbs{
    <span>Balance is not enough</span>
}

<div class="fail-container">
    <p>Sorry, your balance is not enough</p>
    <p>Please try again with sufficient balance.</p>
</div>
<a class="blue-button" asp-action="Index">Back to Cart</a>