@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Access Denied";
}

<h1>403 Access Denied</h1>
<p>
    Sorry, this section is prohibited for this role
</p>
<div>
    <a asp-controller="Home" asp-action="Index">Go to landing page</a>
</div>